<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" >
        <div class="d-flex flex-row  align-items-center">
            <div class="col pe-2">
                <img src="https://raw.githubusercontent.com/jhon50420/imagens-logs/main/logo%20util%201.svg"
                    style="width: 50px;">
            </div>
            <div class="col pt-2">
                <h4>DMIND</h4>
            </div>
        </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active"  href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#about">About</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#proyect">Proyects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#contac">Contac</a>
                </li>
            </ul>
        </div>
    </div>
</nav>